/* Common */

body {
    
    /* Header */

    header {
        width: 100%;
    }

    /* Main */

    main {
        width: 100%;

        #jumbotron {
            height: 500px;
        }    
    }

    /* Footer */

    footer {
        width: 100%;
    }
}